node_modules
yarn-error.log
**/.DS_Store
.cache

.firebaserc
.firebase

dist
build
deploy
testing
functions/lib
functions/index.html

src/config.js
src/index-prod.html
src/images/favicon.ico
src/config-prod.js

Dockerfile
docker-compose.yml
