div {
  animation-name: fadein;
  animation-duration: 250ms;
}

div.navbar {
  border-radius: 0px;
}

.navbar-item a {
  color: #bbbbbb;
}

div .navbar-item img {
  max-height: 2.75em;
}

.active-navbar-item a {
  font-weight: bolder;
}

a.adminactive {
  font-weight: bolder;
}

.highlights {
  margin: 0em 1em;
}

#logo {
  margin: 0em 1em;
  padding: 1em;
}

.calendar-cardtitle {
  width: 100%;
}

.calendar-title {
  padding: .33rem !important;
}

.calendar-card-spacer {
  height: 24px;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.calendar-day:hover {
  border-color: white;
}

.calendar-image {
  margin: 3px;
}

.event-card-footer {
  animation-name: heightgrow;
  animation-duration: 500ms;
}

.speech-bubble {
  border-radius: 10px 10px 10px 0px;
  padding: 0.5em 1em;
  margin: -10px 0px;
}

.margin-leftright {
  margin-left: 1em;
  margin-right: 1em;
  background-color: transparent !important;
  border: 0px !important;
  background: alpha($color: #ffffff) !important;
}

.is-higher {
  margin-top: -3em;
  margin-right: 2em;
}

.eventcard {
  perspective: 800px;
  animation-name: fadein;
  animation-duration: 500ms;
}

.eventheader {
  height: 5em;
}

.languageflag {
  height: 1em;
  padding-right: 1em;
}

.thumbnail {
  height: 4em;
  border: 1px solid white;
  padding: 0px;
}

.fade-in {
  perspective: 800px;
  animation-name: fadein;
  animation-duration: 500ms;
}

button.image-square {
  width: 96px;
  height: 96px;
}

.eventlistitem {
  animation-name: scrollin;
  animation-duration: 750ms;
}

@keyframes heightgrow {
  0% {
    max-height: 0%;
  }

  100% {
    max-height: 100%;
  }
}

@keyframes scrollin {
  0% {
    transform: translate3d(1000px, 100px, 0px)
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translate3d(0px, 20px, -100px);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes plainfadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@import "node_modules/bulma/bulma.sass";
@import 'node_modules/bulma-extensions/bulma-tooltip/dist/bulma-tooltip.sass';
